<div class="nav">
  <h3 class="nav-title">Menu</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    <li
      class="nav-home {% if page.current == 'home' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="/">Home</a>
    </li>

    {% for category in site.data.categories %}
    {% if category.status == true %}
    <li
      class="nav-fables {% if page.url contains 'fables' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="/category/{{ category.url }}">{{
        category.title
      }}</a>
      <!-- sub category-->
      <ol>
        {% for subcategory in category.subcategories %}
        {% if subcategory.status == true %}
        <a href="/tag/{{ subcategory.url }}">{{
          subcategory.title
        }}</a>
        {% endif %}
        {% endfor %}
      </ol>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<span class="nav-cover"></span>
